<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\thari\Documents\NetBeansProjects\VIVA_POS\dist\VIVA_POS.jar</jar>
  <outfile>C:\Users\thari\Documents\NetBeansProjects\VIVA_POS\dist\Neo_mart.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\thari\Downloads\ico.ico</icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8</minVersion>
    <maxVersion>11.0</maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Neox Pos  System</fileDescription>
    <copyright>@neox</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.FV</txtProductVersion>
    <productName>Neox_mart</productName>
    <companyName>Neox</companyName>
    <internalName>Neox_mart</internalName>
    <originalFilename>Neox_mart.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>